<section class="h100 bcred white dac">
  <nav class="slider tshade1 dc gap05-" data-iterate="articles" data-src="assets/json/articles.json">
    <div class="sl" skip><a><i class="icon64 bcblack02 d0">&#706;</i></a></div>
    <input type="radio" name="slider" data-set="id:id" id="slide{id}" onifdata-set="([{id}]:[1])/setattr:[checked]">
    <label data-set="id:id" for="slide{id}" class="footer icon24 pb1">&#9679;</label>
    <section>
      <article class="white w70 xm_w80p">
        <h1 class="fs17" data-get="title"></h1>
        <h3 class="beige tshade1" data-get="summary"></h3>
        <a data-set="link:link" href="{link}" class="button mt2 xm_w100p" bgcolor="black" color="white" radius="2rem"
          padding="1rem 2rem" globalize-get>Read
          more</a>
      </article>
      <figure data-set="img:image" bgimage="{img}">
        <span class="bcblack04 pa hm100 w100"></span>
      </figure>
    </section>
    <div class="sr" skip><a><i class="icon64 bcblack02 d0">&#707;</i></a></div>
  </nav>
</section>

<section justifycontent="center" bgcolor="whitesmoke" flex>
  <article maxwidth="130rem" maxwidth="130rem" screen-xxs="padding:[1rem 0]" screen-md="padding:[1rem]"
    screen-lg="padding:[2.5rem]" screen-xl="padding:[3.5rem]">
    <h2 class="tac" margintop="0.5rem" marginbottom="1rem">Publications</h2>
    <div screen-xxs="gridcolumns:[1fr]" screen-lg="gridcolumns:[1fr 1fr]" screen-xl="gridcolumns:[1fr 1fr 1fr]"
      screen-wide="gridcolumns:[1fr 1fr 1fr 1fr]" radius="0.5rem" screen-xxs="gap:[0]" screen-lg="gap:[0.5rem]"
      class="box cards m1- bcwhite- border- bo0- tac" data-src="assets/json/articles.json" data-iterate="articles">
      <figure class="shade0" bgcolor="white" padding="1.25rem">
        <a data-set="link:link" href="{link}">
          <img data-set="t:thumbnail"
            onifdata-set="([{t}]![])/setattr:[src][{t}]?setattr:[src][/assets/img/placeholder_article.png]"
            width="100%">
          <p bold margintop="1.5rem" data-get="title">...</p>
          <figcaption data-get="summary">...</figcaption>
        </a>
      </figure>
    </div>
    <div flex margin="2rem 1rem" screen-xxs="justifycontent:[center]" screen-md="justifycontent:[right]">
      <a href="research/publications/" class="button shade1" justifycontent="right" radius="0.5rem" bgcolor="white"
        color="red" padding="1rem 2rem" globalize-get>
        View all publications &#8594;
      </a>
    </div>
  </article>
</section>

<section justifycontent="center" bgcolor="#f7f3ea" color="black" flex screen-xxs="padding:[2rem 1rem]" screen-lg="padding:[5rem 1rem]">
  <article maxwidth="60rem" width="100%" data-src="assets/json/did-you-know.json" data-iterate="facts"
    data-sort="random" data-limit="1">
    <div bgcolor="white" border="1px solid #eadfbe" radius="0.25rem" padding="2rem" >
      <h2 marginbottom="0.75rem" color="#7a5a00">Did you know?</h2>
      <p fontsize="1.05rem" lineheight="1.7" data-get="text"></p>
      <div align="center" margintop="1rem" color="#665d45" style="text-align:center;overflow-wrap:anywhere;">
        <small>
          <b>Source:</b>&nbsp;
          <a data-set="href:source_url" data-get="source_label" target="_blank" rel="noopener"></a>
        </small>
      </div>
    </div>
  </article>
</section>

<section color="black" justifycontent="center" flex>
  <article screen-xxs="width:[100%];padding:[3rem]" screen-lg="width:[90%];padding:[4rem]"
    screen-xl="width:[80%];padding:[5rem]">
    <div align="center" lineheight="1.75">
      <h2>Aramean Studies</h2>
      <p color="gray" fontsize="110%">
        Explore the history, language, ethnology, archaeology, geography, religion,
        literature,<br>and communities of the Aramean people.
      </p>
      <div flex flexdirection="column" screen-md="flexdirection:[row]" justifycontent="center" alignitems="center"
        gap="1rem" margintop="1.5rem">
        <a href="research/" padding="1rem 2rem" bgcolor="red" color="white" radius="2rem" class="button">Explore
          Research</a>
      </div>
    </div>
  </article>
</section>
<section include="./_includes/footer.html" bgcolor="red" color="white" padding="1rem" class="white- p1"></section>